$blue-color: #32EBFB;
$bar-background-color: linear-gradient(180deg, black, #4B4B4B);
$bar-text-color: linear-gradient(180deg, white, #8FC797);
$separator-color: #002000;
$control-light-background: linear-gradient(180deg, rgb(135,133,133), rgb(82,82,82));
$radio-color: linear-gradient(0deg, rgb(3,3,3), rgb(96,95,95));
