@use 'title-bar.module';
@use 'colors';
.button {
  width: fit-content;
  padding: 0 1em 0 1em;
  height: auto;
  background: colors.$bar-background-color;
  &:hover {
    border-color: #32eafbbb;
  }
  span {
    font-weight: bold;
    @include title-bar.fill-title(colors.$blue-color);
  }
}