@use '../colors';
.container{
    font-size: 2em;
    display: flex;
    align-items: center;
    .radio {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-image: colors.$radio-color;
    }
    .checked{
        background-image: radial-gradient(colors.$blue-color, transparent);
        border: 0.1em solid rgb(43,43,43);
    }
    span {
        width: 100%;
        height: 100%;
        margin-left: 1em;
        text-align: left;
    }
}