/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.loginForm {
  width: 380px;
  background-color: #EFEFF2;
}
.TitleBarBackgroundBrush {
  background: linear-gradient(180deg, black, #4B4B4B);
}
.TitleBarText {
  font-size: 22px;
  font-style: italic;
  font-weight: bolder;
  background-image: linear-gradient(180deg, white, #8FC797);
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.loginForm_btn {
  width: 80px;
  height: auto;
  font-size: 14px;
  font-weight: bold;
}
.loginForm_btn:hover {
  border-color: #32eafbbb;
}
.loginForm_btn_txt {
  background-color: #32EBFB;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.LoginTextInput {
  background: linear-gradient(180deg, #878585, #525252);
}
.input-blue-color {
  color: #32EBFB;
}
/* 0.204 0.864*/
.ControlActiveBorderBrush {
  background: transparent;
}
.ControlActiveBorderBrush:hover {
  background: linear-gradient(180deg, transparent 40%, rgba(29,131,190,0.4), rgba(30,205,167,0.6));
}
.panel-control-conteiner {
  /*background-image: url('./resources/Images/leftPanelBack.jpg');*/
  color: white;
}
.panel-control {
  /*height: 80px;*/
  margin-top: 10px;
  /*background: transparent;*/
}
/*.panel-control:active {
  background: #32EBFB;
}*/
.panel-control:hover {
  /*background: #32EBFB;*/
  /*background-image: url('./resources/leftStat_hover.png');*/
  background-size: auto;
}

.left-panel {
  min-width: 82px;
  background-image: url('./resources/Images/leftPanelBack.jpg');
  /*color: linear-gradient(180deg,  white, #8FC797);*/
  color: white;
}
.top-panel {
  height: 82px;
  /*color: linear-gradient(180deg,  white, #8FC797);*/
  color: white;
  background-image: url('./resources/Images/leftPanelBack.jpg')
}
.horizontal-separator {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #002000;
  height: 1px;
}